/*
* screen.scss | screen.css
*
* by Nate Beatty <nate.beatty@gmail.com>
*
 */
/* line 11, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/screen.scss */
.wrapper {
  text-align: center;
}

/* line 20, ../sass/screen.scss */
canvas {
  background: green;
  width: 640px;
  height: 360px;
  display: inline-block;
  vertical-align: top;
  margin: 40px 10px;
  -webkit-transform: scaleX(-1);
}

/* line 30, ../sass/screen.scss */
#three-canvas {
  width: 640px;
  height: 200px;
  display: block;
  margin: 10px auto;
}
