/*
* screen.scss | screen.css
*
* by Nate Beatty <nate.beatty@gmail.com>
*
 */

$canvas-width: 640px;
$canvas-height: (9 / 16) * $canvas-width;

html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    text-align: center;
}

canvas {
    background: green;
    width: $canvas-width;
    height: $canvas-height;
    display: inline-block;
    vertical-align: top;
    margin: 40px 10px;
    -webkit-transform: scaleX(-1); // Webcam display will be mirrored
}

#three-canvas {
    width: $canvas-width;
    height: 200px;
    display: block;
    margin: 10px auto;
}
